<footer class="page-footer">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Diwali Greeting App using Nodemailer</h5>
            <p class="grey-text text-lighten-4">Using this app you can easily send greeting emails without having an email address. </br> Default Email : badboysecurities@gmail.com</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Connect with MA9</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://www.github.com/ma-9">Github</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/manavoza7/">instagram</a></li>
                <li><a class="grey-text text-lighten-3" href="https://manav-portfolio.netlify.com/">Portfolio</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2019 Original Content By MA-9
        </div>
    </div>
</footer>