<nav>
<div class="nav-wrapper">
    <a href="#!" class="brand-logo">
        <img src="/assets/DIya.png" alt="Diya Logo">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
    <li><a href="/">Diwali Greeting</a></li>
    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Contact Me!</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a target="_blank" href="https://www.github.com/ma-9">Github</a></li>
        <li><a target="_blank" href="https://www.instagram.com/manavoza7/">Instagram</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a target="_blank" href="https://manav-portfolio.netlify.com/">Portfolio</a></li>
    </ul>
    </ul>
</div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Diwali Greeting</a></li>
</ul>
    