<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wishing App</title>
    <link rel="shortcut icon" href="/assets/DIya.png" type="image/x-icon">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', function() {
            var sidenav = document.querySelectorAll('.sidenav');
            M.Sidenav.init(sidenav, {});

            var dropdown = document.querySelectorAll('.dropdown-trigger');
            M.Dropdown.init(dropdown, {});
        });
    </script>
</body>
</html>